*{
    margin: 0;
    padding: 0;
}
.scrolling-text{
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;

}
.madden{
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
.madden:hover{
    transform: scale(1.3);
}
.scrolling-text {
    margin-top: 300px;
    width: 100%;
    white-space: nowrap;
    animation: scrollText 15s linear infinite;
  }
  
  @keyframes scrollText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-350%);
    }
  }