*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    justify-content:space-evenly;
}
.body{
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 13vw;
    max-width: 14ch;
    padding-bottom: 4vh;
    overflow: hidden;
}
.body_right{
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 13vw;
    max-width: 14ch;
    padding-bottom: 4vh;
    overflow: hidden;
    float: right;
}
.footer{
    font-size: 12vw;
    display: flex;
    max-width: 60vw;
    margin-left: 20vw;
    justify-content: space-between
}
.continue{
    padding-left: 40px;
    padding-bottom: 40px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}
.fade{
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    height: 50vh;
    width: 100vw;
    pointer-events: none;
}
#top{
    position: fixed;
    left: 0;
    top: 0;
}
#bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    transform: rotate(180deg)
}