.header{
    font-size: 8vw;
    font-family: marfaitalic;
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
.header:hover{
    transform: scale(1.02);
}
div{
    padding-top: 10vh;
    padding-bottom: 20vh;
}

@font-face {
    font-family: marfa;
    src: url(../fonts/marfa.otf) format(opentype);
}
@font-face {
    font-family: marfaitalic;
    src: url(../fonts/marfathin.otf) format(opentype);
}
.fade{
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    height: 46vh;
    width: 100vw;
    pointer-events: none;
}
#top{
    position: fixed;
    left: 0;
    top: 0;
}
#bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    transform: rotate(180deg)
}